<div id="alumni_form">
    <div style="color: red; font-size: 15px;">Dear alumni, register yourself by submitting your basic details here.
        Your contact details will be kept secret and confidential.</div><br>

    <iframe name="hidden_iframe" id="hidden_iframe" style="display: none"
        onload="if(submitted==true){alumniFormSuccess();}"></iframe>
    <form name="alumniForm"
        action="https://docs.google.com/forms/d/e/1FAIpQLSdXYLRuqPdrKCgxSyAv-6GgrxUqbVtdMwgMLFOj_wMyIvXkMg/formResponse"
        method="POST" id="ss-form" target="hidden_iframe" onsubmit="validateForm()">
        <div>
            <label>Name: </label><br>
            <input type="text" name="entry.2059521736" value="" id="entry_2059521736" required=""
                onkeyup="javascript:capitalize(this.id, this.value)"><br>
        </div>
        <div>
            <label>Year of passing 10th Board: </label><br>
            <select name="entry.23321339" id="entry_23321339" required>
                <option value="" selected disabled>--Select--</option>
                <option value="01st Batch (1999)">01st Batch (1999)</option>
                <option value="02nd Batch (2000)">02nd Batch (2000)</option>
                <option value="03rd Batch (2001)">03rd Batch (2001)</option>
                <option value="04th Batch (2002)">04th Batch (2002)</option>
                <option value="05th Batch (2003)">05th Batch (2003)</option>
                <option value="06th Batch (2004)">06th Batch (2004)</option>
                <option value="07th Batch (2005)">07th Batch (2005)</option>
                <option value="08th Batch (2006)">08th Batch (2006)</option>
                <option value="09th Batch (2007)">09th Batch (2007)</option>
                <option value="10th Batch (2008)">10th Batch (2008)</option>
                <option value="11th Batch (2009)">11th Batch (2009)</option>
                <option value="12th Batch (2010)">12th Batch (2010)</option>
                <option value="13th Batch (2011)">13th Batch (2011)</option>
                <option value="14th Batch (2012)">14th Batch (2012)</option>
                <option value="15th Batch (2013)">15th Batch (2013)</option>
                <option value="16th Batch (2014)">16th Batch (2014)</option>
                <option value="17th Batch (2015)">17th Batch (2015)</option>
                <option value="18th Batch (2016)">18th Batch (2016)</option>
                <option value="19th Batch (2017)">19th Batch (2017)</option>
                <option value="20th Batch (2018)">20th Batch (2018)</option>
                <option value="21st Batch (2019)">21st Batch (2019)</option>
                <option value="22nd Batch (2020)">22nd Batch (2020)</option>
                <option value="23rd Batch (2021)">23rd Batch (2021)</option>
            </select><br>
        </div>
        <div>
            <label>Exams Passed from JNV Sitamarhi: </label><br>
            <select name="entry.2020491004" id="entry_2020491004" required>
                <option value="" selected disabled>--Select--</option>
                <option value="10th Board only">10th Board only</option>
                <option value="12th Board only">12th Board only</option>
                <option value="10th and 12th both">10th and 12th both</option>
            </select><br>
        </div>
        <div>
            <label>Contact: </label><br>
            <input type="text" maxlength="10" pattern="\d{10}" name="entry.219439507" value="" id="entry_219439507"
                required=""><br>
        </div>
        <div>
            <label>Email: </label><br>
            <input type="email" name="entry.2110054454" value="" id="entry_2110054454" required=""><br>
        </div>
        <div>
            <label>Current Location: </label><br>
            <select name="entry.2022448842" id="entry_2022448842" required>
                <option value="" selected disabled>--Select--</option>
                <option value="Overseas">Overseas</option>
                <option value="Andaman &amp; Nicobar - Andaman">Andaman &amp; Nicobar - Andaman</option>
                <option value="Andaman &amp; Nicobar - Nicobar">Andaman &amp; Nicobar - Nicobar</option>
                <option value="Andhra Pradesh - Adilabad">Andhra Pradesh - Adilabad</option>
                <option value="Andhra Pradesh - Anantpur">Andhra Pradesh - Anantpur</option>
                <option value="Andhra Pradesh - Chittor">Andhra Pradesh - Chittor</option>
                <option value="Andhra Pradesh - Cuddapah">Andhra Pradesh - Cuddapah</option>
                <option value="Andhra Pradesh - east Godavari">Andhra Pradesh - east Godavari</option>
                <option value="Andhra Pradesh - Guntur">Andhra Pradesh - Guntur</option>
                <option value="Andhra Pradesh - Hyderabad Urban">Andhra Pradesh - Hyderabad Urban</option>
                <option value="Andhra Pradesh - Karim Nagar">Andhra Pradesh - Karim Nagar</option>
                <option value="Andhra Pradesh - Khammam">Andhra Pradesh - Khammam</option>
                <option value="Andhra Pradesh - Krishna">Andhra Pradesh - Krishna</option>
                <option value="Andhra Pradesh - Kurnool">Andhra Pradesh - Kurnool</option>
                <option value="Andhra Pradesh - Medak">Andhra Pradesh - Medak</option>
                <option value="Andhra Pradesh - Mehboobnagar">Andhra Pradesh - Mehboobnagar</option>
                <option value="Andhra Pradesh - Nalgonda">Andhra Pradesh - Nalgonda</option>
                <option value="Andhra Pradesh - Nellore">Andhra Pradesh - Nellore</option>
                <option value="Andhra Pradesh - Nizamabad">Andhra Pradesh - Nizamabad</option>
                <option value="Andhra Pradesh - Prakasam">Andhra Pradesh - Prakasam</option>
                <option value="Andhra Pradesh - Ranga Reddy">Andhra Pradesh - Ranga Reddy</option>
                <option value="Andhra Pradesh - Srikakulam">Andhra Pradesh - Srikakulam</option>
                <option value="Andhra Pradesh - Vishakapatnam">Andhra Pradesh - Vishakapatnam</option>
                <option value="Andhra Pradesh - Vizianagaram">Andhra Pradesh - Vizianagaram</option>
                <option value="Andhra Pradesh - Warangal">Andhra Pradesh - Warangal</option>
                <option value="Andhra Pradesh - West Godavari">Andhra Pradesh - West Godavari</option>
                <option value="Arunachal Pradesh - Alog( West Siang )">Arunachal Pradesh - Alog( West Siang )
                </option>
                <option value="Arunachal Pradesh - Bomdila">Arunachal Pradesh - Bomdila</option>
                <option value="Arunachal Pradesh - Changalang">Arunachal Pradesh - Changalang</option>
                <option value="Arunachal Pradesh - Daporijo">Arunachal Pradesh - Daporijo</option>
                <option value="Arunachal Pradesh - Diban Valley( Anini Valley)">Arunachal Pradesh - Diban Valley(
                    Anini Valley)</option>
                <option value="Arunachal Pradesh - Dibang Valley">Arunachal Pradesh - Dibang Valley</option>
                <option value="Arunachal Pradesh - East Kameng Seppa">Arunachal Pradesh - East Kameng Seppa</option>
                <option value="Arunachal Pradesh - East Siang(Passighat)">Arunachal Pradesh - East Siang(Passighat)
                </option>
                <option value="Arunachal Pradesh - Itanagar">Arunachal Pradesh - Itanagar</option>
                <option value="Arunachal Pradesh - Khonsa">Arunachal Pradesh - Khonsa</option>
                <option value="Arunachal Pradesh - Lohit(Tezu)">Arunachal Pradesh - Lohit(Tezu)</option>
                <option value="Arunachal Pradesh - Lower Subansiri(Ziro)">Arunachal Pradesh - Lower Subansiri(Ziro)
                </option>
                <option value="Arunachal Pradesh - Roin">Arunachal Pradesh - Roin</option>
                <option value="Arunachal Pradesh - Tawang">Arunachal Pradesh - Tawang</option>
                <option value="Assam - Barpeta">Assam - Barpeta</option>
                <option value="Assam - Bongaigaon">Assam - Bongaigaon</option>
                <option value="Assam - Cachar">Assam - Cachar</option>
                <option value="Assam - Darrang">Assam - Darrang</option>
                <option value="Assam - Dhemaji">Assam - Dhemaji</option>
                <option value="Assam - Dhubri">Assam - Dhubri</option>
                <option value="Assam - Dibrugarh">Assam - Dibrugarh</option>
                <option value="Assam - Goalpara">Assam - Goalpara</option>
                <option value="Assam - Golaghat">Assam - Golaghat</option>
                <option value="Assam - Hailakandi">Assam - Hailakandi</option>
                <option value="Assam - Jorhat">Assam - Jorhat</option>
                <option value="Assam - Kamrup">Assam - Kamrup</option>
                <option value="Assam - Karbi-Anglong">Assam - Karbi-Anglong</option>
                <option value="Assam - Karimganj">Assam - Karimganj</option>
                <option value="Assam - Kokrajhar">Assam - Kokrajhar</option>
                <option value="Assam - Lakhimpur">Assam - Lakhimpur</option>
                <option value="Assam - Morigaon">Assam - Morigaon</option>
                <option value="Assam - N.C.Hills">Assam - N.C.Hills</option>
                <option value="Assam - Nagaon">Assam - Nagaon</option>
                <option value="Assam - Nalbari">Assam - Nalbari</option>
                <option value="Assam - Sibsagar">Assam - Sibsagar</option>
                <option value="Assam - Sonitpur">Assam - Sonitpur</option>
                <option value="Assam - Tinsukia">Assam - Tinsukia</option>
                <option value="Bihar - Araria">Bihar - Araria</option>
                <option value="Bihar - Aurangabad">Bihar - Aurangabad</option>
                <option value="Bihar - Banka">Bihar - Banka</option>
                <option value="Bihar - Begusarai">Bihar - Begusarai</option>
                <option value="Bihar - Bhabua">Bihar - Bhabua</option>
                <option value="Bihar - Bhagalpur">Bihar - Bhagalpur</option>
                <option value="Bihar - Bhojpur(Arah)">Bihar - Bhojpur(Arah)</option>
                <option value="Bihar - Buxar">Bihar - Buxar</option>
                <option value="Bihar - Darbhanga">Bihar - Darbhanga</option>
                <option value="Bihar - East Champaran">Bihar - East Champaran</option>
                <option value="Bihar - Gaya">Bihar - Gaya</option>
                <option value="Bihar - Gopalganj">Bihar - Gopalganj</option>
                <option value="Bihar - Jamui">Bihar - Jamui</option>
                <option value="Bihar - Jehanabad">Bihar - Jehanabad</option>
                <option value="Bihar - Katihar">Bihar - Katihar</option>
                <option value="Bihar - Khagaria">Bihar - Khagaria</option>
                <option value="Bihar - Kishanganj">Bihar - Kishanganj</option>
                <option value="Bihar - Lakhisarai">Bihar - Lakhisarai</option>
                <option value="Bihar - Madhepura">Bihar - Madhepura</option>
                <option value="Bihar - Madhubani">Bihar - Madhubani</option>
                <option value="Bihar - Munger">Bihar - Munger</option>
                <option value="Bihar - Muzaffarpur">Bihar - Muzaffarpur</option>
                <option value="Bihar - Nalanda">Bihar - Nalanda</option>
                <option value="Bihar - Nawada">Bihar - Nawada</option>
                <option value="Bihar - Patna">Bihar - Patna</option>
                <option value="Bihar - Purnea">Bihar - Purnea</option>
                <option value="Bihar - Rohtas(Sasaram)">Bihar - Rohtas(Sasaram)</option>
                <option value="Bihar - Saharsa">Bihar - Saharsa</option>
                <option value="Bihar - Samastipur">Bihar - Samastipur</option>
                <option value="Bihar - Saran( Chapra )">Bihar - Saran( Chapra )</option>
                <option value="Bihar - Sekhpura">Bihar - Sekhpura</option>
                <option value="Bihar - Seohar">Bihar - Seohar</option>
                <option value="Bihar - Sitamarhi">Bihar - Sitamarhi</option>
                <option value="Bihar - Siwan">Bihar - Siwan</option>
                <option value="Bihar - Supaul">Bihar - Supaul</option>
                <option value="Bihar - Vaishali(Hajipur)">Bihar - Vaishali(Hajipur)</option>
                <option value="Bihar - West Champaran">Bihar - West Champaran</option>
                <option value="Chandigarh - Chandigarh">Chandigarh - Chandigarh</option>
                <option value="Chattisgarh - Bastar">Chattisgarh - Bastar</option>
                <option value="Chattisgarh - Bilaspur">Chattisgarh - Bilaspur</option>
                <option value="Chattisgarh - Dantewada">Chattisgarh - Dantewada</option>
                <option value="Chattisgarh - Dhamtari">Chattisgarh - Dhamtari</option>
                <option value="Chattisgarh - Durg">Chattisgarh - Durg</option>
                <option value="Chattisgarh - Janjgir-Champa">Chattisgarh - Janjgir-Champa</option>
                <option value="Chattisgarh - Jashpur">Chattisgarh - Jashpur</option>
                <option value="Chattisgarh - Kanker">Chattisgarh - Kanker</option>
                <option value="Chattisgarh - Kawardha">Chattisgarh - Kawardha</option>
                <option value="Chattisgarh - Korba">Chattisgarh - Korba</option>
                <option value="Chattisgarh - Koriya">Chattisgarh - Koriya</option>
                <option value="Chattisgarh - Mahasamund">Chattisgarh - Mahasamund</option>
                <option value="Chattisgarh - Raigarh">Chattisgarh - Raigarh</option>
                <option value="Chattisgarh - Raipur">Chattisgarh - Raipur</option>
                <option value="Chattisgarh - Rajnandgaon">Chattisgarh - Rajnandgaon</option>
                <option value="Chattisgarh - Surguja">Chattisgarh - Surguja</option>
                <option value="Dadra &amp; Nagar - Dadra">Dadra &amp; Nagar - Dadra</option>
                <option value="Daman &amp; Diu - Daman">Daman &amp; Diu - Daman</option>
                <option value="Daman &amp; Diu - Diu">Daman &amp; Diu - Diu</option>
                <option value="Delhi - Central">Delhi - Central</option>
                <option value="Delhi - New Delhi">Delhi - New Delhi</option>
                <option value="Delhi - North">Delhi - North</option>
                <option value="Delhi - North">Delhi - North</option>
                <option value="Delhi - North East">Delhi - North East</option>
                <option value="Delhi - North West">Delhi - North West</option>
                <option value="Delhi - South West">Delhi - South West</option>
                <option value="Delhi - West">Delhi - West</option>
                <option value="Goa - North Goa">Goa - North Goa</option>
                <option value="Goa - South Goa">Goa - South Goa</option>
                <option value="Gujarat - Ahmedabad">Gujarat - Ahmedabad</option>
                <option value="Gujarat - Amrela">Gujarat - Amrela</option>
                <option value="Gujarat - Anand">Gujarat - Anand</option>
                <option value="Gujarat - Banaskantha">Gujarat - Banaskantha</option>
                <option value="Gujarat - Bharuch">Gujarat - Bharuch</option>
                <option value="Gujarat - Bhavnagar">Gujarat - Bhavnagar</option>
                <option value="Gujarat - Dahod">Gujarat - Dahod</option>
                <option value="Gujarat - Dangs">Gujarat - Dangs</option>
                <option value="Gujarat - Gandhinagar">Gujarat - Gandhinagar</option>
                <option value="Gujarat - Jamnagar">Gujarat - Jamnagar</option>
                <option value="Gujarat - Junagadh">Gujarat - Junagadh</option>
                <option value="Gujarat - Kheda">Gujarat - Kheda</option>
                <option value="Gujarat - Kutch">Gujarat - Kutch</option>
                <option value="Gujarat - Mehsana">Gujarat - Mehsana</option>
                <option value="Gujarat - Narmada">Gujarat - Narmada</option>
                <option value="Gujarat - Navsari">Gujarat - Navsari</option>
                <option value="Gujarat - Panchmahals">Gujarat - Panchmahals</option>
                <option value="Gujarat - Patan">Gujarat - Patan</option>
                <option value="Gujarat - Porbander">Gujarat - Porbander</option>
                <option value="Gujarat - Rajkot">Gujarat - Rajkot</option>
                <option value="Gujarat - Sabarkantha">Gujarat - Sabarkantha</option>
                <option value="Gujarat - Surat">Gujarat - Surat</option>
                <option value="Gujarat - Surendranagar">Gujarat - Surendranagar</option>
                <option value="Gujarat - Vadodara">Gujarat - Vadodara</option>
                <option value="Gujarat - Valsad">Gujarat - Valsad</option>
                <option value="Haryana - Ambala">Haryana - Ambala</option>
                <option value="Haryana - Bhiwani">Haryana - Bhiwani</option>
                <option value="Haryana - Faridabad">Haryana - Faridabad</option>
                <option value="Haryana - Fatehabad">Haryana - Fatehabad</option>
                <option value="Haryana - Gurgaon">Haryana - Gurgaon</option>
                <option value="Haryana - Hissar">Haryana - Hissar</option>
                <option value="Haryana - Jhanjhar">Haryana - Jhanjhar</option>
                <option value="Haryana - Jind">Haryana - Jind</option>
                <option value="Haryana - Kaithal">Haryana - Kaithal</option>
                <option value="Haryana - Karnal">Haryana - Karnal</option>
                <option value="Haryana - Kurukshetra">Haryana - Kurukshetra</option>
                <option value="Haryana - Mahendragarh">Haryana - Mahendragarh</option>
                <option value="Haryana - Panchkula">Haryana - Panchkula</option>
                <option value="Haryana - Panipat">Haryana - Panipat</option>
                <option value="Haryana - Rewari">Haryana - Rewari</option>
                <option value="Haryana - Rohtak">Haryana - Rohtak</option>
                <option value="Haryana - Sirsa">Haryana - Sirsa</option>
                <option value="Haryana - Sonipat">Haryana - Sonipat</option>
                <option value="Haryana - Yamunanagar">Haryana - Yamunanagar</option>
                <option value="Himachal Pradesh - Bilaspur">Himachal Pradesh - Bilaspur</option>
                <option value="Himachal Pradesh - Chamba">Himachal Pradesh - Chamba</option>
                <option value="Himachal Pradesh - Hamirpur">Himachal Pradesh - Hamirpur</option>
                <option value="Himachal Pradesh - Kangra">Himachal Pradesh - Kangra</option>
                <option value="Himachal Pradesh - Kinnaur">Himachal Pradesh - Kinnaur</option>
                <option value="Himachal Pradesh - Kullu">Himachal Pradesh - Kullu</option>
                <option value="Himachal Pradesh - Lahaul-Spiti">Himachal Pradesh - Lahaul-Spiti</option>
                <option value="Himachal Pradesh - Mandi">Himachal Pradesh - Mandi</option>
                <option value="Himachal Pradesh - Shimla">Himachal Pradesh - Shimla</option>
                <option value="Himachal Pradesh - Sirmour">Himachal Pradesh - Sirmour</option>
                <option value="Himachal Pradesh - Solan">Himachal Pradesh - Solan</option>
                <option value="Himachal Pradesh - Una">Himachal Pradesh - Una</option>
                <option value="Jammu &amp; Kashmir - Anantnag">Jammu &amp; Kashmir - Anantnag</option>
                <option value="Jammu &amp; Kashmir - Badgan">Jammu &amp; Kashmir - Badgan</option>
                <option value="Jammu &amp; Kashmir - Baramula">Jammu &amp; Kashmir - Baramula</option>
                <option value="Jammu &amp; Kashmir - Doda">Jammu &amp; Kashmir - Doda</option>
                <option value="Jammu &amp; Kashmir - Jammu">Jammu &amp; Kashmir - Jammu</option>
                <option value="Jammu &amp; Kashmir - Kargil">Jammu &amp; Kashmir - Kargil</option>
                <option value="Jammu &amp; Kashmir - Kathua">Jammu &amp; Kashmir - Kathua</option>
                <option value="Jammu &amp; Kashmir - Kupwara">Jammu &amp; Kashmir - Kupwara</option>
                <option value="Jammu &amp; Kashmir - Leh">Jammu &amp; Kashmir - Leh</option>
                <option value="Jammu &amp; Kashmir - Poonch">Jammu &amp; Kashmir - Poonch</option>
                <option value="Jammu &amp; Kashmir - Pulwama">Jammu &amp; Kashmir - Pulwama</option>
                <option value="Jammu &amp; Kashmir - Rajauri">Jammu &amp; Kashmir - Rajauri</option>
                <option value="Jammu &amp; Kashmir - Srinagar">Jammu &amp; Kashmir - Srinagar</option>
                <option value="Jammu &amp; Kashmir - Udhampur">Jammu &amp; Kashmir - Udhampur</option>
                <option value="Jharkhand - Bokaro">Jharkhand - Bokaro</option>
                <option value="Jharkhand - Chaibasa(West Singhbhum)">Jharkhand - Chaibasa(West Singhbhum)</option>
                <option value="Jharkhand - Chatra">Jharkhand - Chatra</option>
                <option value="Jharkhand - Deoghar">Jharkhand - Deoghar</option>
                <option value="Jharkhand - Dhanbad">Jharkhand - Dhanbad</option>
                <option value="Jharkhand - Dumka">Jharkhand - Dumka</option>
                <option value="Jharkhand - Garhwa">Jharkhand - Garhwa</option>
                <option value="Jharkhand - Giridih">Jharkhand - Giridih</option>
                <option value="Jharkhand - Godda">Jharkhand - Godda</option>
                <option value="Jharkhand - Gumla">Jharkhand - Gumla</option>
                <option value="Jharkhand - Hazaribagh">Jharkhand - Hazaribagh</option>
                <option value="Jharkhand - Jamshedpur(East Singhbhum)">Jharkhand - Jamshedpur(East Singhbhum)
                </option>
                <option value="Jharkhand - Jamtara">Jharkhand - Jamtara</option>
                <option value="Jharkhand - Koderma">Jharkhand - Koderma</option>
                <option value="Jharkhand - Latehar">Jharkhand - Latehar</option>
                <option value="Jharkhand - Lohardaga">Jharkhand - Lohardaga</option>
                <option value="Jharkhand - Pakur">Jharkhand - Pakur</option>
                <option value="Jharkhand - Palamu">Jharkhand - Palamu</option>
                <option value="Jharkhand - Ranchi">Jharkhand - Ranchi</option>
                <option value="Jharkhand - Sahebganj">Jharkhand - Sahebganj</option>
                <option value="Jharkhand - Saraikela">Jharkhand - Saraikela</option>
                <option value="Jharkhand - Simdega">Jharkhand - Simdega</option>
                <option value="Karnataka - Bangalore Rural">Karnataka - Bangalore Rural</option>
                <option value="Karnataka - Bangalore Urban">Karnataka - Bangalore Urban</option>
                <option value="Karnataka - Belgaum">Karnataka - Belgaum</option>
                <option value="Karnataka - Bellary">Karnataka - Bellary</option>
                <option value="Karnataka - Bidar">Karnataka - Bidar</option>
                <option value="Karnataka - Bijapur">Karnataka - Bijapur</option>
                <option value="Karnataka - Chamrajnagar">Karnataka - Chamrajnagar</option>
                <option value="Karnataka - Chickmagalur">Karnataka - Chickmagalur</option>
                <option value="Karnataka - Chitradurga">Karnataka - Chitradurga</option>
                <option value="Karnataka - Dakshina Kannada">Karnataka - Dakshina Kannada</option>
                <option value="Karnataka - Davanagare">Karnataka - Davanagare</option>
                <option value="Karnataka - Dharwad">Karnataka - Dharwad</option>
                <option value="Karnataka - Gadak">Karnataka - Gadak</option>
                <option value="Karnataka - Gulberga">Karnataka - Gulberga</option>
                <option value="Karnataka - Hassan">Karnataka - Hassan</option>
                <option value="Karnataka - Haveri">Karnataka - Haveri</option>
                <option value="Karnataka - Karwar">Karnataka - Karwar</option>
                <option value="Karnataka - Kolar">Karnataka - Kolar</option>
                <option value="Karnataka - Koppal">Karnataka - Koppal</option>
                <option value="Karnataka - Madikeri">Karnataka - Madikeri</option>
                <option value="Karnataka - Mandya">Karnataka - Mandya</option>
                <option value="Karnataka - Mysore">Karnataka - Mysore</option>
                <option value="Karnataka - Raichur">Karnataka - Raichur</option>
                <option value="Karnataka - Shimoga">Karnataka - Shimoga</option>
                <option value="Karnataka - Tumkur">Karnataka - Tumkur</option>
                <option value="Karnataka - Udupi">Karnataka - Udupi</option>
                <option value="Karnataka - Yadgir">Karnataka - Yadgir</option>
                <option value="Kerala - Alapuzzha">Kerala - Alapuzzha</option>
                <option value="Kerala - Cannanore">Kerala - Cannanore</option>
                <option value="Kerala - Ernakulam">Kerala - Ernakulam</option>
                <option value="Kerala - Idukki">Kerala - Idukki</option>
                <option value="Kerala - Kasaragod">Kerala - Kasaragod</option>
                <option value="Kerala - Kottayam">Kerala - Kottayam</option>
                <option value="Kerala - Kozhikode">Kerala - Kozhikode</option>
                <option value="Kerala - Mallapuram">Kerala - Mallapuram</option>
                <option value="Kerala - Palghat">Kerala - Palghat</option>
                <option value="Kerala - Pathanamthitta">Kerala - Pathanamthitta</option>
                <option value="Kerala - Quilon">Kerala - Quilon</option>
                <option value="Kerala - Trichur">Kerala - Trichur</option>
                <option value="Kerala - Trivandrum">Kerala - Trivandrum</option>
                <option value="Kerala - Wayanad">Kerala - Wayanad</option>
                <option value="Lakshdweep - Lakshdweep">Lakshdweep - Lakshdweep</option>
                <option value="Madhya Pradesh - Anooppur">Madhya Pradesh - Anooppur</option>
                <option value="Madhya Pradesh - Ashoknagar">Madhya Pradesh - Ashoknagar</option>
                <option value="Madhya Pradesh - Badwani">Madhya Pradesh - Badwani</option>
                <option value="Madhya Pradesh - Balaghat">Madhya Pradesh - Balaghat</option>
                <option value="Madhya Pradesh - Betul">Madhya Pradesh - Betul</option>
                <option value="Madhya Pradesh - Bhind">Madhya Pradesh - Bhind</option>
                <option value="Madhya Pradesh - Bhopal">Madhya Pradesh - Bhopal</option>
                <option value="Madhya Pradesh - Burhanpur">Madhya Pradesh - Burhanpur</option>
                <option value="Madhya Pradesh - Chhattarpur">Madhya Pradesh - Chhattarpur</option>
                <option value="Madhya Pradesh - Chhindwara">Madhya Pradesh - Chhindwara</option>
                <option value="Madhya Pradesh - Damoh">Madhya Pradesh - Damoh</option>
                <option value="Madhya Pradesh - Datia">Madhya Pradesh - Datia</option>
                <option value="Madhya Pradesh - Dewas">Madhya Pradesh - Dewas</option>
                <option value="Madhya Pradesh - Dhar">Madhya Pradesh - Dhar</option>
                <option value="Madhya Pradesh - Dindori">Madhya Pradesh - Dindori</option>
                <option value="Madhya Pradesh - Guna">Madhya Pradesh - Guna</option>
                <option value="Madhya Pradesh - Gwalior">Madhya Pradesh - Gwalior</option>
                <option value="Madhya Pradesh - Harda">Madhya Pradesh - Harda</option>
                <option value="Madhya Pradesh - Hoshangabad">Madhya Pradesh - Hoshangabad</option>
                <option value="Madhya Pradesh - Indore">Madhya Pradesh - Indore</option>
                <option value="Madhya Pradesh - Jabalpur">Madhya Pradesh - Jabalpur</option>
                <option value="Madhya Pradesh - Jhabua">Madhya Pradesh - Jhabua</option>
                <option value="Madhya Pradesh - Katni">Madhya Pradesh - Katni</option>
                <option value="Madhya Pradesh - Khandwa">Madhya Pradesh - Khandwa</option>
                <option value="Madhya Pradesh - Khargone">Madhya Pradesh - Khargone</option>
                <option value="Madhya Pradesh - Mandla">Madhya Pradesh - Mandla</option>
                <option value="Madhya Pradesh - Mandsaur">Madhya Pradesh - Mandsaur</option>
                <option value="Madhya Pradesh - Morena">Madhya Pradesh - Morena</option>
                <option value="Madhya Pradesh - Narsinghpur">Madhya Pradesh - Narsinghpur</option>
                <option value="Madhya Pradesh - Neemuch">Madhya Pradesh - Neemuch</option>
                <option value="Madhya Pradesh - Panna">Madhya Pradesh - Panna</option>
                <option value="Madhya Pradesh - Raisen">Madhya Pradesh - Raisen</option>
                <option value="Madhya Pradesh - Rajgarh">Madhya Pradesh - Rajgarh</option>
                <option value="Madhya Pradesh - Ratlam">Madhya Pradesh - Ratlam</option>
                <option value="Madhya Pradesh - Rewa">Madhya Pradesh - Rewa</option>
                <option value="Madhya Pradesh - Sagar">Madhya Pradesh - Sagar</option>
                <option value="Madhya Pradesh - Satna">Madhya Pradesh - Satna</option>
                <option value="Madhya Pradesh - Sehore">Madhya Pradesh - Sehore</option>
                <option value="Madhya Pradesh - Seoni">Madhya Pradesh - Seoni</option>
                <option value="Madhya Pradesh - Shahdol">Madhya Pradesh - Shahdol</option>
                <option value="Madhya Pradesh - Shajapur">Madhya Pradesh - Shajapur</option>
                <option value="Madhya Pradesh - Sheopur">Madhya Pradesh - Sheopur</option>
                <option value="Madhya Pradesh - Shivpuri">Madhya Pradesh - Shivpuri</option>
                <option value="Madhya Pradesh - Sindi">Madhya Pradesh - Sindi</option>
                <option value="Madhya Pradesh - Tikamgarh">Madhya Pradesh - Tikamgarh</option>
                <option value="Madhya Pradesh - Ujjain">Madhya Pradesh - Ujjain</option>
                <option value="Madhya Pradesh - Umaria">Madhya Pradesh - Umaria</option>
                <option value="Madhya Pradesh - Vidisha">Madhya Pradesh - Vidisha</option>
                <option value="Maharashtra - Ahmednagar">Maharashtra - Ahmednagar</option>
                <option value="Maharashtra - Akola">Maharashtra - Akola</option>
                <option value="Maharashtra - Amravati">Maharashtra - Amravati</option>
                <option value="Maharashtra - Aurangabad">Maharashtra - Aurangabad</option>
                <option value="Maharashtra - Bandra(Mumbai Suburban district)">Maharashtra - Bandra(Mumbai Suburban
                    district)</option>
                <option value="Maharashtra - Beed">Maharashtra - Beed</option>
                <option value="Maharashtra - Bhandara">Maharashtra - Bhandara</option>
                <option value="Maharashtra - Buldhana">Maharashtra - Buldhana</option>
                <option value="Maharashtra - Chandrapur">Maharashtra - Chandrapur</option>
                <option value="Maharashtra - Dhule">Maharashtra - Dhule</option>
                <option value="Maharashtra - Gadchiroli">Maharashtra - Gadchiroli</option>
                <option value="Maharashtra - Gondia">Maharashtra - Gondia</option>
                <option value="Maharashtra - Hingoli">Maharashtra - Hingoli</option>
                <option value="Maharashtra - Jalgaon">Maharashtra - Jalgaon</option>
                <option value="Maharashtra - Jalna">Maharashtra - Jalna</option>
                <option value="Maharashtra - Kolhpur">Maharashtra - Kolhpur</option>
                <option value="Maharashtra - Latur">Maharashtra - Latur</option>
                <option value="Maharashtra - Mumbai-City">Maharashtra - Mumbai-City</option>
                <option value="Maharashtra - Nagpur">Maharashtra - Nagpur</option>
                <option value="Maharashtra - Nanded">Maharashtra - Nanded</option>
                <option value="Maharashtra - Nandurbar">Maharashtra - Nandurbar</option>
                <option value="Maharashtra - Nashik">Maharashtra - Nashik</option>
                <option value="Maharashtra - Osmanabad">Maharashtra - Osmanabad</option>
                <option value="Maharashtra - Parbhani">Maharashtra - Parbhani</option>
                <option value="Maharashtra - Pune">Maharashtra - Pune</option>
                <option value="Maharashtra - Raigad">Maharashtra - Raigad</option>
                <option value="Maharashtra - Ratnagiri">Maharashtra - Ratnagiri</option>
                <option value="Maharashtra - Sangli">Maharashtra - Sangli</option>
                <option value="Maharashtra - Satara">Maharashtra - Satara</option>
                <option value="Maharashtra - Sholapur">Maharashtra - Sholapur</option>
                <option value="Maharashtra - Sindudurg">Maharashtra - Sindudurg</option>
                <option value="Maharashtra - Thane">Maharashtra - Thane</option>
                <option value="Maharashtra - Wardha">Maharashtra - Wardha</option>
                <option value="Maharashtra - Washim">Maharashtra - Washim</option>
                <option value="Maharashtra - Yavatmal">Maharashtra - Yavatmal</option>
                <option value="Manipur - Bishnupur">Manipur - Bishnupur</option>
                <option value="Manipur - Chandel">Manipur - Chandel</option>
                <option value="Manipur - Churachandpur">Manipur - Churachandpur</option>
                <option value="Manipur - Imphal East">Manipur - Imphal East</option>
                <option value="Manipur - Imphal West">Manipur - Imphal West</option>
                <option value="Manipur - Senapati">Manipur - Senapati</option>
                <option value="Manipur - Tamenglong">Manipur - Tamenglong</option>
                <option value="Manipur - Thoubal">Manipur - Thoubal</option>
                <option value="Manipur - Ukhrul">Manipur - Ukhrul</option>
                <option value="Meghalaya - East Garo Hill">Meghalaya - East Garo Hill</option>
                <option value="Meghalaya - East Khasi Hill">Meghalaya - East Khasi Hill</option>
                <option value="Meghalaya - Jaintia Hill">Meghalaya - Jaintia Hill</option>
                <option value="Meghalaya - Ri-Bhoi District">Meghalaya - Ri-Bhoi District</option>
                <option value="Meghalaya - South Garo Hills">Meghalaya - South Garo Hills</option>
                <option value="Meghalaya - West Garo Hill">Meghalaya - West Garo Hill</option>
                <option value="Meghalaya - West Khasi Hill">Meghalaya - West Khasi Hill</option>
                <option value="Mizoram - Aizawal">Mizoram - Aizawal</option>
                <option value="Mizoram - Champhai">Mizoram - Champhai</option>
                <option value="Mizoram - Chimtipui District">Mizoram - Chimtipui District</option>
                <option value="Mizoram - Kolasib">Mizoram - Kolasib</option>
                <option value="Mizoram - Lawngtlai">Mizoram - Lawngtlai</option>
                <option value="Mizoram - Luglei District">Mizoram - Luglei District</option>
                <option value="Mizoram - Mamit">Mizoram - Mamit</option>
                <option value="Mizoram - Serchhip">Mizoram - Serchhip</option>
                <option value="Nagaland - Dimapur">Nagaland - Dimapur</option>
                <option value="Nagaland - Kohima">Nagaland - Kohima</option>
                <option value="Nagaland - Mokokchung">Nagaland - Mokokchung</option>
                <option value="Nagaland - Mon">Nagaland - Mon</option>
                <option value="Nagaland - Phek">Nagaland - Phek</option>
                <option value="Nagaland - Tuensang">Nagaland - Tuensang</option>
                <option value="Nagaland - Wokha">Nagaland - Wokha</option>
                <option value="Nagaland - Zunheboto">Nagaland - Zunheboto</option>
                <option value="Orissa - Angul">Orissa - Angul</option>
                <option value="Orissa - Balangir">Orissa - Balangir</option>
                <option value="Orissa - Balasore">Orissa - Balasore</option>
                <option value="Orissa - Bargah">Orissa - Bargah</option>
                <option value="Orissa - Bhadrak">Orissa - Bhadrak</option>
                <option value="Orissa - Boudh">Orissa - Boudh</option>
                <option value="Orissa - Cuttak">Orissa - Cuttak</option>
                <option value="Orissa - Deogarh">Orissa - Deogarh</option>
                <option value="Orissa - Dhenkanal">Orissa - Dhenkanal</option>
                <option value="Orissa - Gajapati">Orissa - Gajapati</option>
                <option value="Orissa - Ganjam">Orissa - Ganjam</option>
                <option value="Orissa - Jagatsinghpur">Orissa - Jagatsinghpur</option>
                <option value="Orissa - Jajpur">Orissa - Jajpur</option>
                <option value="Orissa - Jharsuguda">Orissa - Jharsuguda</option>
                <option value="Orissa - Kalhandi">Orissa - Kalhandi</option>
                <option value="Orissa - Kendrapara">Orissa - Kendrapara</option>
                <option value="Orissa - Keonjhar">Orissa - Keonjhar</option>
                <option value="Orissa - Khurda">Orissa - Khurda</option>
                <option value="Orissa - Koraput">Orissa - Koraput</option>
                <option value="Orissa - Malkangiri">Orissa - Malkangiri</option>
                <option value="Orissa - Mayurbhanj">Orissa - Mayurbhanj</option>
                <option value="Orissa - Navapada">Orissa - Navapada</option>
                <option value="Orissa - Navaragpur">Orissa - Navaragpur</option>
                <option value="Orissa - Nayagarh">Orissa - Nayagarh</option>
                <option value="Orissa - Phulbani">Orissa - Phulbani</option>
                <option value="Orissa - Puri">Orissa - Puri</option>
                <option value="Orissa - Rayagada">Orissa - Rayagada</option>
                <option value="Orissa - Sambalpur">Orissa - Sambalpur</option>
                <option value="Orissa - Sonepur">Orissa - Sonepur</option>
                <option value="Orissa - Sundergarh">Orissa - Sundergarh</option>
                <option value="Pondicherry - Karikal">Pondicherry - Karikal</option>
                <option value="Pondicherry - Mahe">Pondicherry - Mahe</option>
                <option value="Pondicherry - Pondicherry">Pondicherry - Pondicherry</option>
                <option value="Pondicherry - Yaman">Pondicherry - Yaman</option>
                <option value="Punjab - Amritsar">Punjab - Amritsar</option>
                <option value="Punjab - Bhatinda">Punjab - Bhatinda</option>
                <option value="Punjab - Faridkot">Punjab - Faridkot</option>
                <option value="Punjab - Fatehgarh Saheb">Punjab - Fatehgarh Saheb</option>
                <option value="Punjab - Ferozepur">Punjab - Ferozepur</option>
                <option value="Punjab - Gurdaspur">Punjab - Gurdaspur</option>
                <option value="Punjab - Hosiarpur">Punjab - Hosiarpur</option>
                <option value="Punjab - Jalandhar">Punjab - Jalandhar</option>
                <option value="Punjab - Kapurthala">Punjab - Kapurthala</option>
                <option value="Punjab - Ludhiana">Punjab - Ludhiana</option>
                <option value="Punjab - Mansa">Punjab - Mansa</option>
                <option value="Punjab - Moga">Punjab - Moga</option>
                <option value="Punjab - Muktsar">Punjab - Muktsar</option>
                <option value="Punjab - Navansahar">Punjab - Navansahar</option>
                <option value="Punjab - Patiala">Punjab - Patiala</option>
                <option value="Punjab - Ropar">Punjab - Ropar</option>
                <option value="Punjab - Sangrur">Punjab - Sangrur</option>
                <option value="Rajasthan - Ajmer">Rajasthan - Ajmer</option>
                <option value="Rajasthan - Alwar">Rajasthan - Alwar</option>
                <option value="Rajasthan - Banswara">Rajasthan - Banswara</option>
                <option value="Rajasthan - Baran">Rajasthan - Baran</option>
                <option value="Rajasthan - Barmer">Rajasthan - Barmer</option>
                <option value="Rajasthan - Bharatpur">Rajasthan - Bharatpur</option>
                <option value="Rajasthan - Bhilwara">Rajasthan - Bhilwara</option>
                <option value="Rajasthan - Bikaner">Rajasthan - Bikaner</option>
                <option value="Rajasthan - Bundi">Rajasthan - Bundi</option>
                <option value="Rajasthan - Chittorgarh">Rajasthan - Chittorgarh</option>
                <option value="Rajasthan - Churu">Rajasthan - Churu</option>
                <option value="Rajasthan - Dausa">Rajasthan - Dausa</option>
                <option value="Rajasthan - Dholpur">Rajasthan - Dholpur</option>
                <option value="Rajasthan - Dungarpur">Rajasthan - Dungarpur</option>
                <option value="Rajasthan - Ganganagar">Rajasthan - Ganganagar</option>
                <option value="Rajasthan - Hanumangarh">Rajasthan - Hanumangarh</option>
                <option value="Rajasthan - Jaipur">Rajasthan - Jaipur</option>
                <option value="Rajasthan - Jaisalmer">Rajasthan - Jaisalmer</option>
                <option value="Rajasthan - Jalor">Rajasthan - Jalor</option>
                <option value="Rajasthan - Jhalawar">Rajasthan - Jhalawar</option>
                <option value="Rajasthan - Jhunjhunu">Rajasthan - Jhunjhunu</option>
                <option value="Rajasthan - Jodhpur">Rajasthan - Jodhpur</option>
                <option value="Rajasthan - Karauli">Rajasthan - Karauli</option>
                <option value="Rajasthan - Kota">Rajasthan - Kota</option>
                <option value="Rajasthan - Nagaur">Rajasthan - Nagaur</option>
                <option value="Rajasthan - Pali">Rajasthan - Pali</option>
                <option value="Rajasthan - Rajsamand">Rajasthan - Rajsamand</option>
                <option value="Rajasthan - Sawai Madhopur">Rajasthan - Sawai Madhopur</option>
                <option value="Rajasthan - Sikar">Rajasthan - Sikar</option>
                <option value="Rajasthan - Sirohi">Rajasthan - Sirohi</option>
                <option value="Rajasthan - Tonk">Rajasthan - Tonk</option>
                <option value="Rajasthan - Udaipur">Rajasthan - Udaipur</option>
                <option value="Sikkim - East">Sikkim - East</option>
                <option value="Sikkim - North">Sikkim - North</option>
                <option value="Sikkim - South">Sikkim - South</option>
                <option value="Sikkim - West">Sikkim - West</option>
                <option value="Tamil Nadu - Chennai">Tamil Nadu - Chennai</option>
                <option value="Tamil Nadu - Coimbotore">Tamil Nadu - Coimbotore</option>
                <option value="Tamil Nadu - Cuddalorei">Tamil Nadu - Cuddalorei</option>
                <option value="Tamil Nadu - Dharmapuri">Tamil Nadu - Dharmapuri</option>
                <option value="Tamil Nadu - Dindigul">Tamil Nadu - Dindigul</option>
                <option value="Tamil Nadu - Erode">Tamil Nadu - Erode</option>
                <option value="Tamil Nadu - Kancheepuram">Tamil Nadu - Kancheepuram</option>
                <option value="Tamil Nadu - Kanniyakumari (HQ : Nagercoil)">Tamil Nadu - Kanniyakumari (HQ :
                    Nagercoil)</option>
                <option value="Tamil Nadu - Karur">Tamil Nadu - Karur</option>
                <option value="Tamil Nadu - Madurai">Tamil Nadu - Madurai</option>
                <option value="Tamil Nadu - Nagapattinam">Tamil Nadu - Nagapattinam</option>
                <option value="Tamil Nadu - Namakkal">Tamil Nadu - Namakkal</option>
                <option value="Tamil Nadu - Nilgiris (HQ: Udhagamandalam)">Tamil Nadu - Nilgiris (HQ:
                    Udhagamandalam)</option>
                <option value="Tamil Nadu - Perambalur">Tamil Nadu - Perambalur</option>
                <option value="Tamil Nadu - Pudukkottai">Tamil Nadu - Pudukkottai</option>
                <option value="Tamil Nadu - Ramanathapuram">Tamil Nadu - Ramanathapuram</option>
                <option value="Tamil Nadu - Salem">Tamil Nadu - Salem</option>
                <option value="Tamil Nadu - Sivaganga">Tamil Nadu - Sivaganga</option>
                <option value="Tamil Nadu - Thanjavur">Tamil Nadu - Thanjavur</option>
                <option value="Tamil Nadu - Theni">Tamil Nadu - Theni</option>
                <option value="Tamil Nadu - Thoothkudi">Tamil Nadu - Thoothkudi</option>
                <option value="Tamil Nadu - Tiruchiorappalli">Tamil Nadu - Tiruchiorappalli</option>
                <option value="Tamil Nadu - Tirunelveli">Tamil Nadu - Tirunelveli</option>
                <option value="Tamil Nadu - Tiruvallur">Tamil Nadu - Tiruvallur</option>
                <option value="Tamil Nadu - Tiruvannamalai">Tamil Nadu - Tiruvannamalai</option>
                <option value="Tamil Nadu - Tiruvarur">Tamil Nadu - Tiruvarur</option>
                <option value="Tamil Nadu - Vellore">Tamil Nadu - Vellore</option>
                <option value="Tamil Nadu - Villupuram">Tamil Nadu - Villupuram</option>
                <option value="Tamil Nadu - Virudhunagar">Tamil Nadu - Virudhunagar</option>
                <option value="Tripura - Dhalai District">Tripura - Dhalai District</option>
                <option value="Tripura - North District">Tripura - North District</option>
                <option value="Tripura - South District">Tripura - South District</option>
                <option value="Tripura - West District">Tripura - West District</option>
                <option value="Uttar Pradesh - Agra">Uttar Pradesh - Agra</option>
                <option value="Uttar Pradesh - Aligarh">Uttar Pradesh - Aligarh</option>
                <option value="Uttar Pradesh - Allahabad">Uttar Pradesh - Allahabad</option>
                <option value="Uttar Pradesh - Ambedkarnagar">Uttar Pradesh - Ambedkarnagar</option>
                <option value="Uttar Pradesh - Azamgarh">Uttar Pradesh - Azamgarh</option>
                <option value="Uttar Pradesh - Bagpat">Uttar Pradesh - Bagpat</option>
                <option value="Uttar Pradesh - Bahraich">Uttar Pradesh - Bahraich</option>
                <option value="Uttar Pradesh - Balia">Uttar Pradesh - Balia</option>
                <option value="Uttar Pradesh - Balrampur">Uttar Pradesh - Balrampur</option>
                <option value="Uttar Pradesh - Banda">Uttar Pradesh - Banda</option>
                <option value="Uttar Pradesh - Barabanki">Uttar Pradesh - Barabanki</option>
                <option value="Uttar Pradesh - Bareilly">Uttar Pradesh - Bareilly</option>
                <option value="Uttar Pradesh - Basti">Uttar Pradesh - Basti</option>
                <option value="Uttar Pradesh - Bhadoi">Uttar Pradesh - Bhadoi</option>
                <option value="Uttar Pradesh - Bijnor">Uttar Pradesh - Bijnor</option>
                <option value="Uttar Pradesh - Budaun">Uttar Pradesh - Budaun</option>
                <option value="Uttar Pradesh - Bulandshehar">Uttar Pradesh - Bulandshehar</option>
                <option value="Uttar Pradesh - Chandauli">Uttar Pradesh - Chandauli</option>
                <option value="Uttar Pradesh - Deoria">Uttar Pradesh - Deoria</option>
                <option value="Uttar Pradesh - Etah">Uttar Pradesh - Etah</option>
                <option value="Uttar Pradesh - Etawah">Uttar Pradesh - Etawah</option>
                <option value="Uttar Pradesh - Faizabad">Uttar Pradesh - Faizabad</option>
                <option value="Uttar Pradesh - Farrukhabad">Uttar Pradesh - Farrukhabad</option>
                <option value="Uttar Pradesh - Fatehpur">Uttar Pradesh - Fatehpur</option>
                <option value="Uttar Pradesh - Firozabad">Uttar Pradesh - Firozabad</option>
                <option value="Uttar Pradesh - Gautam Bodda Nagar">Uttar Pradesh - Gautam Bodda Nagar</option>
                <option value="Uttar Pradesh - Gazipur">Uttar Pradesh - Gazipur</option>
                <option value="Uttar Pradesh - Ghaziabad">Uttar Pradesh - Ghaziabad</option>
                <option value="Uttar Pradesh - Gonda">Uttar Pradesh - Gonda</option>
                <option value="Uttar Pradesh - Gorakpur">Uttar Pradesh - Gorakpur</option>
                <option value="Uttar Pradesh - Hamirpur">Uttar Pradesh - Hamirpur</option>
                <option value="Uttar Pradesh - Hardoi">Uttar Pradesh - Hardoi</option>
                <option value="Uttar Pradesh - Jalaun">Uttar Pradesh - Jalaun</option>
                <option value="Uttar Pradesh - Jaunpur">Uttar Pradesh - Jaunpur</option>
                <option value="Uttar Pradesh - Jhansi">Uttar Pradesh - Jhansi</option>
                <option value="Uttar Pradesh - jyotiba Phoole Nagar">Uttar Pradesh - jyotiba Phoole Nagar</option>
                <option value="Uttar Pradesh - Kanooj">Uttar Pradesh - Kanooj</option>
                <option value="Uttar Pradesh - Kanpur Dehat">Uttar Pradesh - Kanpur Dehat</option>
                <option value="Uttar Pradesh - Kanpur(Nagar)">Uttar Pradesh - Kanpur(Nagar)</option>
                <option value="Uttar Pradesh - Kaushambi">Uttar Pradesh - Kaushambi</option>
                <option value="Uttar Pradesh - Lakhimpur-Khedi">Uttar Pradesh - Lakhimpur-Khedi</option>
                <option value="Uttar Pradesh - Lalitpur">Uttar Pradesh - Lalitpur</option>
                <option value="Uttar Pradesh - Lucknow">Uttar Pradesh - Lucknow</option>
                <option value="Uttar Pradesh - Maha Maya Nagar">Uttar Pradesh - Maha Maya Nagar</option>
                <option value="Uttar Pradesh - Maharajganj">Uttar Pradesh - Maharajganj</option>
                <option value="Uttar Pradesh - Mahoba">Uttar Pradesh - Mahoba</option>
                <option value="Uttar Pradesh - Mainpuri">Uttar Pradesh - Mainpuri</option>
                <option value="Uttar Pradesh - Mathura">Uttar Pradesh - Mathura</option>
                <option value="Uttar Pradesh - Mau">Uttar Pradesh - Mau</option>
                <option value="Uttar Pradesh - Meerut">Uttar Pradesh - Meerut</option>
                <option value="Uttar Pradesh - Mirzapur">Uttar Pradesh - Mirzapur</option>
                <option value="Uttar Pradesh - Moradabad">Uttar Pradesh - Moradabad</option>
                <option value="Uttar Pradesh - Muzaffar Nagar">Uttar Pradesh - Muzaffar Nagar</option>
                <option value="Uttar Pradesh - Oraiyya">Uttar Pradesh - Oraiyya</option>
                <option value="Uttar Pradesh - Padrauna">Uttar Pradesh - Padrauna</option>
                <option value="Uttar Pradesh - Pilibhit">Uttar Pradesh - Pilibhit</option>
                <option value="Uttar Pradesh - Pratapgarh">Uttar Pradesh - Pratapgarh</option>
                <option value="Uttar Pradesh - Raebareili">Uttar Pradesh - Raebareili</option>
                <option value="Uttar Pradesh - Rampur">Uttar Pradesh - Rampur</option>
                <option value="Uttar Pradesh - Saharanpur">Uttar Pradesh - Saharanpur</option>
                <option value="Uttar Pradesh - Sant Kabir Nagar">Uttar Pradesh - Sant Kabir Nagar</option>
                <option value="Uttar Pradesh - Shahjahanpur">Uttar Pradesh - Shahjahanpur</option>
                <option value="Uttar Pradesh - Shooji Maharaj">Uttar Pradesh - Shooji Maharaj</option>
                <option value="Uttar Pradesh - Shravati">Uttar Pradesh - Shravati</option>
                <option value="Uttar Pradesh - Siddharth Nagar">Uttar Pradesh - Siddharth Nagar</option>
                <option value="Uttar Pradesh - Sitapur">Uttar Pradesh - Sitapur</option>
                <option value="Uttar Pradesh - Sultanpur">Uttar Pradesh - Sultanpur</option>
                <option value="Uttar Pradesh - Sunbhadra">Uttar Pradesh - Sunbhadra</option>
                <option value="Uttar Pradesh - Unnav">Uttar Pradesh - Unnav</option>
                <option value="Uttar Pradesh - Varanasi">Uttar Pradesh - Varanasi</option>
                <option value="Uttaranchal - Almora">Uttaranchal - Almora</option>
                <option value="Uttaranchal - Bageshwar">Uttaranchal - Bageshwar</option>
                <option value="Uttaranchal - Chamoli( Gopeshwar )">Uttaranchal - Chamoli( Gopeshwar )</option>
                <option value="Uttaranchal - Champawat">Uttaranchal - Champawat</option>
                <option value="Uttaranchal - Dehradun">Uttaranchal - Dehradun</option>
                <option value="Uttaranchal - Garhwal(Pauri)">Uttaranchal - Garhwal(Pauri)</option>
                <option value="Uttaranchal - Haridwar">Uttaranchal - Haridwar</option>
                <option value="Uttaranchal - Nainital">Uttaranchal - Nainital</option>
                <option value="Uttaranchal - Pitoragarh">Uttaranchal - Pitoragarh</option>
                <option value="Uttaranchal - Rudraprayag">Uttaranchal - Rudraprayag</option>
                <option value="Uttaranchal - Tehri-Garhwal">Uttaranchal - Tehri-Garhwal</option>
                <option value="Uttaranchal - Udhamsingh Nagar">Uttaranchal - Udhamsingh Nagar</option>
                <option value="Uttaranchal - Uttarkashi">Uttaranchal - Uttarkashi</option>
                <option value="West Bengal - Bankura">West Bengal - Bankura</option>
                <option value="West Bengal - Bardhaman">West Bengal - Bardhaman</option>
                <option value="West Bengal - Birbhum">West Bengal - Birbhum</option>
                <option value="West Bengal - Coochbehar">West Bengal - Coochbehar</option>
                <option value="West Bengal - Dakshin Dinajpur">West Bengal - Dakshin Dinajpur</option>
                <option value="West Bengal - Darjeeling">West Bengal - Darjeeling</option>
                <option value="West Bengal - Hooghly">West Bengal - Hooghly</option>
                <option value="West Bengal - Howrah">West Bengal - Howrah</option>
                <option value="West Bengal - Jalpaiguri">West Bengal - Jalpaiguri</option>
                <option value="West Bengal - Malda">West Bengal - Malda</option>
                <option value="West Bengal - Medinipur">West Bengal - Medinipur</option>
                <option value="West Bengal - Murshidabad">West Bengal - Murshidabad</option>
                <option value="West Bengal - Nadia">West Bengal - Nadia</option>
                <option value="West Bengal - North 24 Parganas">West Bengal - North 24 Parganas</option>
                <option value="West Bengal - Purulia">West Bengal - Purulia</option>
                <option value="West Bengal - Siliguri">West Bengal - Siliguri</option>
                <option value="West Bengal - South 24 Parganas">West Bengal - South 24 Parganas</option>
                <option value="West Bengal - Uttar Dinajpur">West Bengal - Uttar Dinajpur</option>
            </select><br>
        </div>
        <div>
            <label>Profile: </label><br>
            <select name="entry.1072180231" id="entry_1072180231" required>
                <option value="" selected disabled>--Select--</option>
                <option value="Student">Student</option>
                <option value="Job Holder">Job Holder</option>
            </select><br>
        </div>
        <div id="frm_org">
            <label>Organisation: </label><br>
            <input type="text" name="entry.1096792936" value="" id="entry_1096792936" required=""
                onkeyup="javascript:capitalize(this.id, this.value)"><br>
        </div>
        <div id="frm_dsg">
            <label>Designation: </label><br>
            <input type="text" name="entry.645748317" value="" id="entry_645748317" required=""
                onkeyup="javascript:capitalize(this.id, this.value)"><br>
        </div>
        <div id="frm_ins">
            <label>Institute: </label><br>
            <input type="text" name="entry.1601452556" value="" id="entry_1601452556" required=""
                onkeyup="javascript:capitalize(this.id, this.value)"><br>
        </div>
        <div id="frm_deg">
            <label>Degree: </label><br>
            <input type="text" name="entry.1485639544" value="" id="entry_1485639544" required=""
                onkeyup="javascript:capitalize(this.id, this.value)"><br>
        </div><br>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
            name="submit" value="Submit" id="ss-submit">
        <br>
    </form>
</div>

<div id="alumni_form_msg">
    <h5>Thanks !</h5>
    <p>Form Successfully submitted. An email has been sent to you containing the details which you have submitted
        just now.</p>
    <p>Like our <a href="https://www.facebook.com/jnvsaa" target="_blank">Facebook Page</a></p>
    <p>Join our <a href="https://www.facebook.com/groups/jnvsaa" target="_blank">Facebook Group</a></p>
    <input id="btn_alumni_form_reactivate"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button"
        name="submit" value="Create another Submission">
    <br>
</div>